service folio_daemon /system_ext/bin/folio_daemon
    class late_start
    user system
    group system uhid
    disabled

on property:init.svc.zygote=running
    start folio_daemon

on property:init.svc.zygote=stopped
    stop folio_daemon
